  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

  * {
     box-sizing: border-box;
     font-style: normal;
     margin: 0;
     padding: 0;
  }

  body {
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 20px;
     line-height: 120%;
     background-color: #EEFBEA;
  }

  h1 {
     font-family: 'Amatic SC';
     font-weight: 700;
     font-size: 148px;
     line-height: 187px;
  }

  h2 {
     font-family: 'Amatic SC';
     font-weight: 700;
     font-size: 64px;
     line-height: 81px;
  }

  h3 {
     font-family: 'Amatic SC';
     font-weight: 700;
     font-size: 40px;
     line-height: 50px;
  }

  h4 {
     font-family: 'Amatic SC';
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
  }

  .wrapper {
     padding: 22px 100px 100px 100px;
  }

  .header__body {
     height: 124px;
     padding: 38px 0;
     display: flex;
     justify-content: space-between;
     align-items: start;
  }

  .header__menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     width: 100%;
  }

  .menu a {
     text-decoration: none;
  }

  .menu a.parent {
     margin-right: 35px;
  }

  .menu li {
     list-style: none;
     position: relative;
  }

  .menu__list {
     display: flex;
     justify-content: space-between;
     width: 60%;
     margin-left: 55px;
     z-index: 2;

  }

  .menu__list>li {
     margin-left: 5px;
  }

  .menu__list>li:hover .sub-menu__list {
     display: block;
  }

  .menu__link {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     color: #0B0B0B;
  }

  .menu__link:hover {
     color: #800000;
  }

  .sub-menu__list {
     display: none;
     position: absolute;
     left: 0;
     top: 10px;
     padding-top: 20px;
  }

  .sub-menu__list>li {
     background-color: #DEF6D5;
     border-bottom: 1px solid #000;
  }

  .sub-menu__list>li:hover {
     background: #98D198;
  }

  .sub-menu__link:active {
     font-weight: 700;
  }

  .sub-menu__link {
     display: inline-block;
     padding: 12px;
     width: 212px;
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     color: #0B0B0B;
  }

  .arrow {
     display: none;
     position: absolute;
     right: 5px;
     top: 7px;
     width: 0;
     height: 0;
     border: solid black;
     border-width: 0 3px 3px 0;
     padding: 3px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
  }

  .arrow.active {
     transform: rotate(-135deg);
  }

  body.touch .arrow,
  body.mouse .arrow {
     display: inline-block;
     /* display: none; */
  }

  body.mouse .menu__list>li:hover .sub-menu__list {
     display: block;
  }

  body.touch .sub-menu__list.open {
     display: block;
  }

  /* footer */

  .footer__block {
     display: flex;
     justify-content: center;
     gap: 45px;
     margin-top: 162px;
     border-left: 2px solid #800000;
     border-top: 2px solid #800000;
     border-radius: 160px 0;
  }

  .caption {
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 12px;
     line-height: 16px;
  }

  label {
     font-family: 'Open Sans';
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     margin-bottom: 4px;
  }

  input {
     width: 100%;
     height: 46px;
     background: #EEFBEA;
     border-radius: 8px;
     align-self: stretch;
     border: none;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     margin-bottom: 24px;
  }

  input:hover {
     background: #DEF6D5;
     border: 1px solid #98D198;
  }

  input:focus {
     border: 2px solid #2C6716;
     outline: 0 none;
  }

  .footer__submit {
     background-color: #98D198;
     width: 50%;
     padding: 80px;
     padding-top: 40px;
     border-radius: 160px 0px;
  }

  .footer__contact {
     width: 50%;
     padding: 80px;
     height: 100%;
  }

  .footer__title {
     text-align: center;
     margin-bottom: 10px;
  }

  .footer__form {
     margin-top: 40px;
  }

  a.footer__address,
  a.footer__phone {
     display: block;
     margin-bottom: 30px;
     text-decoration: none;
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 20px;
     line-height: 120%;
     color: #0B0B0B;
     text-align: left;
  }

  .footer__addressblock {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
     padding-left: 25px;
  }

  .footer__contacts {
     margin: 60px 0 45px 30px;
  }

  .footer__addressblock .footer__text {
     margin-left: 40px;
  }

  .footer__addressblock .footer__btn {
     max-width: 202px;
     margin: 50px auto;
  }

  /* buttons */
  .header__btn,
  .footer__btn {
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px 20px;
     width: 209px;
     height: 46px;
     background: #EEFBEA;
     border: 2px solid #800000;
     border-radius: 999px;
     font-family: 'Open Sans';
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     color: #800000;
     cursor: pointer;
     margin: 0 5px;
  }

  .footer__btn {
     padding: 12px 40px;
     gap: 10px;
     max-width: 179px;
     height: 46px;
     margin: 40px auto;
     color: #0B0B0B;
  }

  .footer__btn:hover,
  .header__btn:hover {
     background: #9BE481;
     color: #800000;
     border: 2px solid #800000;
  }

  .footer__btn:active,
  .header__btn:active {
     color: #EEFBEA;
     background: #800000;
     border: 2px solid #800000;
  }

  .footer__btn:disabled,
  .header__btn:disabled {
     background: #EEFBEA;
     border: 2px solid #A47E7E;
     color: #A47E7E;
  }

  /* icon */
  .header__logo {
     z-index: 5;
     background-image: url(img/logo_leonardo.svg);
     background-size: cover;
     width: 154px;
     height: 80px;
     position: relative;
     bottom: 38px;
     left: 10px;
  }

  .icon__social {
     display: flex;
     margin: 20px;
     justify-content: center;
  }

  .header-icon__social {
     display: none;
     margin: 21px 0 70px 0;
     gap: 22px;
  }

  .geoicon {
     background-image: url(img/geo_icon.svg);
     background-size: cover;
     width: 21px;
     height: 28px;
     cursor: pointer;
     float: left;
     margin-right: 18px;
     margin-top: 10px;
  }

  .geoicon:hover {
     background-image: url(img/geo_icon_hover.svg);
  }

  .tgicon {
     background-image: url(img/telegram_icon.svg);
     background-size: cover;
     width: 28px;
     height: 23px;
     cursor: pointer;
     float: left;
     margin-right: 22px;
  }

  .tgicon:hover {
     background-image: url(img/telegram_icon_hover.svg);
  }

  .fbicon {
     background-image: url(img/facebook_icon.svg);
     background-size: cover;
     width: 40px;
     height: 40px;
     cursor: pointer;
     float: left;
     margin-right: 22px;
     z-index: 1;
  }

  .fbicon:hover {
     background-image: url(img/facebook_icon_hover.svg);
  }

  .instaicon {
     background-image: url(img/instagram_icon.svg);
     background-size: cover;
     width: 40px;
     height: 40px;
     cursor: pointer;
     z-index: 1;
  }

  .instaicon:hover {
     background-image: url(img/instagram_icon_hover.svg);
  }


  .footer__footer {
     display: flex;
     justify-content: space-between;
     margin-top: 60px;
  }

  .develop {
     display: flex;
     gap: 4px;
     align-items: center;
  }

  .develop__logo {
     width: 42px;
     height: 42px;
     border-radius: 8px;
  }

  .scroll__up:hover {
     background: #98D198;
     width: 42px;
     height: 42px;
     border-radius: 8px;
  }

  /* Modal window */
  .popup {
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     top: 0;
     left: 0;
     opacity: 0;
     visibility: hidden;
     overflow-y: auto;
     overflow-x: hiden;
     transition: all 0.8s ease 0s;
  }

  .popup.open {
     opacity: 1;
     visibility: visible;
     z-index: 5;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .popup.open .popup__content {
     transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
     opacity: 1;
  }

  .popup__body {
     min-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 30px 10px;
  }

  .popup__content {
     display: flex;
     flex-direction: column;
     align-items: stretch;
     padding: 40px 80px 80px;
     /* gap: 20px; */
     width: 680px;
     height: 868px;
     background: #98D198;
     position: relative;
     opacity: 0;
     transition: all 0.8s ease 0s;
     transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }

  .popup__close {

     display: block;
     position: relative;
     width: 25px;
     height: 25px;
     z-index: 5;
     top: 13px;
     left: 530px;
  }

  .popup__close:before,
  .popup__close:after {
     content: '';
     background-color: #000;
     position: absolute;
     width: 100%;
     height: 2px;
     left: -4px;
  }

  .popup__close:before {
     transform: rotate(45deg);
  }

  .popup__close:after {
     transform: rotate(-45deg);
  }

  .popup__title {
     font-size: 40px;
     margin: 30px auto 10px;
  }

  .popup__text {
     margin-bottom: 40px;
  }

  .marker {
     position: fixed;
  }

  @media (max-width: 767px) {
     body.lock {
        overflow: hidden;
     }

     .wrapper {
        padding: 0;
     }

     .popup__content {
        padding: 60px 20px 40px;
        position: relative;
        width: 295px;
        height: 782px;
        background: #98D198;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        z-index: 5;
        justify-content: start;
     }

     .popup__close {
        top: -20px;
        left: 225px;
     }

     .popup__title {
        margin: 0 auto;
        margin-top: -15px;
     }

     .popup__text {
        font-size: 16px;
        line-height: 120%;
        margin: 15px 0;
     }

     .popup__content form input {
        margin-bottom: 26px;
     }

     .popup__content .footer__btn {
        margin: 17px auto;
     }

     .popup__body {
        position: absolute;
        z-index: 5;
     }

     .header__logo {
        width: 100px;
        height: 52px;
        position: relative;
        left: 40px;
        bottom: 20px;
     }

     .header__burger {
        display: block;
        position: relative;
        width: 16px;
        height: 20px;
        z-index: 4;
        top: 10px;
        right: 50px;
     }

     .arrow {
        position: relative;
        top: -5px;
        right: 12px;
     }

     .header__btn {
        margin: 0 auto;
        position: relative;
        right: 40px;
     }

     .header-icon__social {
        display: flex;
        justify-content: center;
     }

     .menu__list {
        display: block;
        padding-top: 130px;
        max-width: 185px;
        margin-left: 90px;

     }

     .menu__list>li {
        margin-bottom: 30px;
     }

     .sub-menu__list {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 13px;
     }

     .menu__flash {
        background-image: url(img/flash.svg);
        position: absolute;
        width: 100px;
        height: 150px;
        left: 62px;
        top: 242px;
     }

     .header__btn {
        right: 0;
     }

     /* burger */
     body.lock {
        overflow: hidden;
     }

     .header__body {
        height: 50px;
     }

     .header__burger:before,
     .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 150%;
        height: 2px;
        left: -4px;
        transition: all 0.3s ease 0s;
     }

     .header__burger:before {
        top: 0;
     }

     .header__burger:after {
        bottom: 0;
     }

     .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
     }

     .header__burger.active span {
        transform: scale(0);
     }

     .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
     }

     .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        background-color: #9BE481;
        overflow: auto;
        z-index: 2;
        transition: all 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
     }

     .header__menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
     }

     .header__list {
        display: block;
     }

     .header__list li {
        margin-bottom: 10px;
     }

     .header__burger span {
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
     }

     .menu__iconsocial {
        display: flex;
        gap: 38px;
     }

     /*footer */
     .footer__block {
        border: none;
        flex-direction: column;
        justify-content: start;
        gap: 25px;
     }

     .footer__submit {
        border-radius: 0;
        padding: 40px;
        width: 100%;
     }

     .footer__text {
        font-size: 16px;
        line-height: 120%;
     }

     .footer__form {
        margin-top: 20px;
     }

     input {
        margin-bottom: 27px;
     }

     .footer__btn {
        margin: 15px auto;
     }

     .footer__contact {
        padding: 0;
        width: 100%;
     }

     .footer__addressblock {
        padding-left: 0;
        display: block;
     }

     .address__text,
     .phone__text {
        font-size: 16px;
     }

     .footer__addressblock .footer__text {
        text-align: center;
     }

     .footer__contacts {
        margin: 38px 50px;
        /* padding-left: 45px; */
     }

     .icon__social {
        margin: 23px 0 0 0;
     }

     .footer__addressblock .footer__btn {
        max-width: 174px;
        margin: 40px auto;
        margin-bottom: 0;
     }

     .footer__footer {
        padding: 0 40px;
     }
  }