  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

  body {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 120%;
     background-color: #EEFBEA;
  }

  h1 {
     font-family: 'Amatic SC';
     font-style: normal;
     font-weight: 700;
     font-size: 148px;
     line-height: 187px;
     font-variant: all-small-caps;
  }

  h2 {
     font-family: 'Amatic SC';
     font-style: normal;
     font-weight: 700;
     font-size: 64px;
     line-height: 81px;
  }

  h3 {
     font-family: 'Amatic SC';
     font-style: normal;
     font-weight: 700;
     font-size: 40px;
     line-height: 50px;
  }

  h4 {
     font-family: 'Amatic SC';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
  }

  .wrapper {
     padding: 60px 100px 100px 100px;
  }

  /* buttons */
  .header__btn,
  .footer__btn {
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 12px 20px;
     width: 209px;
     height: 46px;
     background: #EEFBEA;
     border: 2px solid #800000;
     border-radius: 999px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     color: #800000;
     cursor: pointer;
     z-index: 3;
  }

  .footer__btn {
     padding: 12px 40px;
     gap: 10px;
     width: 179px;
     height: 46px;
     flex: none;
     border: 2;
     flex-grow: 0;
     margin: 40px auto;
     color: #0B0B0B;
  }

  .footer__btn:hover,
  .header__btn:hover {
     background: #9BE481;
     color: #800000;
     border: 2px solid #800000;
  }

  .footer__btn:active,
  .header__btn:active {
     color: #EEFBEA;
     background: #800000;
     border: 2px solid #800000;
  }

  .footer__btn:disabled,
  .header__btn:disabled {
     background: #EEFBEA;
     border: 2px solid #A47E7E;
     color: #A47E7E;
  }


  /* sub-menu */

  .menu a {
     text-decoration: none;
  }

  .menu a.parent {
     margin-right: 35px;
  }

  .menu li {
     list-style: none;
     position: relative;
  }

  .menu__list {
     display: flex;
     position: relative;
     z-index: 2;
  }

  .menu__list>li {
     margin-right: 60px;
  }

  .menu__list>li:hover .sub-menu__list {
     display: block;
  }

  .menu__link {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
     color: #0B0B0B;
  }

  .menu__link:hover {
     color: #800000;
  }

  .sub-menu__list {
     display: none;
     position: absolute;
     left: -50px;
     top: 20px;
     padding-top: 20px;
  }

  .sub-menu__list>li {
     background-color: #DEF6D5;
     border-bottom: 1px solid #000;
  }

  .sub-menu__list>li:hover {
     background: #98D198;
  }

  .sub-menu__link:active {
     font-weight: 700;
  }

  .sub-menu__link {
     display: inline-block;
     padding: 12px;
     width: 212px;
     font-family: 'Open Sans';
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     color: #0B0B0B;
  }

  .arrow {
     display: none;
     position: absolute;
     right: 0;
     top: 7px;
     width: 0;
     height: 0;
     border: solid black;
     border-width: 0 3px 3px 0;
     padding: 3px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
  }

  .arrow.active {
     transform: rotate(-135deg);
  }

  body.touch .arrow {
     display: inline-block;
  }

  body.mouse .menu__list>li:hover .sub-menu__list {
     display: block;
  }

  body.touch .sub-menu__list.open {
     display: block;
  }

  /* burger menu */
  .header {
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
  }

  .header:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     /* background-color: #0f0; */
     z-index: 2;
  }

  .header__body {
     position: relative;
     height: 80px;
     padding: 22px 100px 0 100px;
     display: flex;
     justify-content: space-between;
  }

  .header__logo {
     position: relative;
     z-index: 3;
  }

  .header__menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }

  /* footer */

  .footer__block {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 173px;
  }

  .caption {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 16px;
  }

  label {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 22px;
  }

  form {
     width: 100%;
  }

  input {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 12px;
     margin-bottom: 24px;
     gap: 10px;
     width: 100%;
     height: 46px;
     background: #EEFBEA;
     border-radius: 8px;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     border: none;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
  }

  input:hover {
     background: #DEF6D5;
     border: 1px solid #98D198;
  }

  input[type="text"]:focus {
     border: 2px solid #2C6716;
     outline: 0 none;
  }

  .footer__submit {
     background-color: #98D198;
     width: 50%;
     padding: 80px;
     padding-top: 40px;
     gap: 20px;
     left: 100px;
     background: #98D198;
     border-radius: 160px 0px;
  }

  .footer__contact {
     width: 50%;
  }

  .footer__title {
     text-align: center;
  }

  .footer__form {
     padding-top: 40px;
  }

  .footer__text {
     margin-top: 27px;
  }

  .footer__block {
     border-left: 2px solid #800000;
     border-top: 2px solid #800000;
     border-radius: 160px 0;
  }

  a.footer__address,
  a.footer__phone {
     display: block;
     margin-bottom: 28px;
     text-decoration: none;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 120%;
     color: #0B0B0B;
  }

  .footer__addressblock {
     margin-top: 80px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding: 0 80px;
  }

  .footer__contacts {
     width: 80%;
     margin: 50px auto;
  }

  .icon__social {
     display: flex;
     margin: 21px 0 70px 0;
     gap: 22px;
  }

  .geoicon {
     background-image: url(img/geo_icon.svg);
     background-size: cover;
     width: 21px;
     height: 28px;
     cursor: pointer;
     float: left;
     margin-right: 22px;
     margin-top: 10px;
  }

  .geoicon:hover {
     background-image: url(img/geo_icon_hover.svg);
  }

  .tgicon {
     background-image: url(img/telegram_icon.svg);
     background-size: cover;
     width: 28px;
     height: 23px;
     cursor: pointer;
     float: left;
     margin-right: 22px;
  }

  .tgicon:hover {
     background-image: url(img/telegram_icon_hover.svg);
  }

  .fbicon {
     background-image: url(img/facebook_icon.svg);
     background-size: cover;
     width: 40px;
     height: 40px;
     cursor: pointer;
     float: left;
     margin-right: 22px;
     z-index: 1;
  }

  .fbicon:hover {
     background-image: url(img/facebook_icon_hover.svg);
  }

  .instaicon {
     background-image: url(img/instagram_icon.svg);
     background-size: cover;
     width: 40px;
     height: 40px;
     cursor: pointer;
     z-index: 1;
  }

  .instaicon:hover {
     background-image: url(img/instagram_icon_hover.svg);
  }


  .footer__footer {
     display: flex;
     justify-content: space-between;
     margin-bottom: 100px;
     margin-top: 60px;
  }

  .develop {
     display: flex;
     gap: 4px;
     align-items: center;
  }

  .develop__logo {
     width: 42px;
     height: 42px;
     border-radius: 8px;
  }

  .scroll__up:hover {
     background: #98D198;
     width: 42px;
     height: 42px;
     border-radius: 8px;
  }

  @media (max-width: 768px) {
     body.lock {
        overflow: hidden;
     }

     .arrow {
        position: relative;
        top: -5px;
        left: 26px;
     }

     .menu__list {
        display: block;
        margin-top: 61px;
     }

     .menu__list>li {
        margin: 0;
        margin-bottom: 28px;
     }

     .sub-menu__list {
        position: relative;
        top: 0;
        right: 0;
     }

     /* burger */
     body.lock {
        overflow: hiden;
     }

     .header__body {
        height: 50px;
     }

     .header__logo {
        flex: 0 0 40px;
        z-index: 5;
     }

     .header__burger {
        display: block;
        position: relative;
        width: 16px;
        height: 20px;
        z-index: 4;
     }

     .header__burger:before,
     .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 150%;
        height: 2px;
        left: -4px;
        transition: all 0.3s ease 0s;
     }

     .header__burger:before {
        top: 0;
     }

     .header__burger:after {
        bottom: 0;
     }

     .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
     }

     .header__burger.active span {
        transform: scale(0);
     }

     .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
     }

     .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #9BE481;
        overflow: auto;
        z-index: 2;
        transition: all 0.3s ease 0s;
        display: block;
     }

     .header__menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
     }

     .header__list {
        display: block;
     }

     .header__list li {
        margin-bottom: 10px;
     }

     .header__burger span {
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
     }

     .menu__iconsocial {
        display: flex;
        gap: 38px;
     }

     /*footer */

     .footer__block {
        border: none;
     }

     .footer__submit {
        border-radius: 0;
        left: 0;
        width: 100%;
     }
  }